<div class="profile">
  <div class="left">
    <div class="up">
      <div class="userPic">
        @if (form.value.pictureUrl) {
          <img [src]="form.value.pictureUrl" alt="avatar" (error)="user.details.pictureUrl = ''" />
        } @else {
          {{ getInitials() }}
        }
      </div>
      <div class="name">
        <h2>{{ user?.firstName }}</h2>
        <h2>{{ user?.lastName }}</h2>
      </div>
      <p>{{ user?.email }}</p>
    </div>

    <div class="down">
      <div class="about active">
        <p><i class="fa-regular fa-user"></i></p>
        <p>My Profile</p>
      </div>

      <div class="about">
        <p><i class="fa-solid fa-cart-flatbed"></i></p>
        <p>Cart</p>
      </div>

      <div class="about">
        <p><i class="fa-regular fa-heart"></i></p>
        <p>Favorites</p>
      </div>

      <div class="about">
        <p><i class="fa-solid fa-gear"></i></p>
        <p>Settings</p>
      </div>

      <div class="line"></div>

      <div class="logout">
        <p><i class="fa-solid fa-arrow-right-from-bracket"></i></p>
        <p>Logout</p>
      </div>
    </div>
  </div>

  <form class="right" [formGroup]="form">
    <div class="title">
      <h2>My Profile</h2>
      <p>Manage your personal information and preferences</p>
    </div>

    <div class="profilePicture">
      <div class="first">
        <p><i class="fa-solid fa-image"></i> Profile Picture</p>
      </div>

      <div class="second">
        <div class="left">
          @if (form.value.pictureUrl) {
            <img [src]="form.value.pictureUrl" alt="avatar" />
          } @else {
            {{ getInitials() }}
          }
        </div>
        <div class="right">
          <h3>Upload your photo</h3>
          <div class="formGroup">
            <p>Enter a URL to your profile picture</p>
            <div class="field">
              <i class="fa-solid fa-link"></i>
              <input
                type="text"
                placeholder="https://example.com/avatar.jpg"
                formControlName="pictureUrl"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="personalInfo">
      <div class="first">
        <p><i class="fa-regular fa-user"></i> Personal information</p>
      </div>

      <div class="second">
        <div class="nameInputs">
          <div class="formGroup">
            <p>*First Name</p>
            <div class="field">
              <i class="fa-regular fa-user"></i>
              <input type="text" formControlName="firstName" />
            </div>
          </div>

          <div class="formGroup">
            <p>*Last Name</p>
            <div class="field">
              <i class="fa-regular fa-user"></i>
              <input type="text" formControlName="lastName" />
            </div>
          </div>
        </div>

        <div class="formGroup">
          <p>Email Address</p>
          <div class="field">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" formControlName="email" />
          </div>
        </div>

        <div class="dobAndPhone">
          <div class="formGroup">
            <p>Date of Birth</p>
            <div class="field">
              <i class="fa-regular fa-calendar"></i>
              <input type="date" formControlName="dateOfBirth" />
            </div>
          </div>

          <div class="formGroup">
            <p>Phone Number</p>
            <div class="field">
              <i class="fa-solid fa-phone"></i>
              <input type="text" formControlName="phoneNumber" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="address">
      <div class="first">
        <p><i class="fa-solid fa-location-dot"></i> Address</p>
      </div>

      <div class="second">
        <div class="formGroup">
          <p>Street Address</p>
          <div class="field">
            <i class="fa-regular fa-house"></i>
            <input type="text" placeholder="Enter your street address" formControlName="address" />
          </div>
        </div>
      </div>
    </div>

    <div class="btns">
      <button class="discard" [disabled]="form.pristine" (click)="discardChanges()">
        <i class="fa-solid fa-x"></i> Discard
      </button>
      <button class="save" (click)="saveChanges()">
        <i class="fa-solid fa-check"></i> Save Changes
      </button>
    </div>
  </form>
</div>
