<div class="shop">
  <div class="top">
    <p>Home <i class="fa-solid fa-chevron-right"></i> <span class="shop">Shop</span></p>
    <h2>All Products</h2>
    <p>Discover our full range of tech products</p>
  </div>

  <div class="prodParent">
    <div class="filter">
      <h2>Filters</h2>
      <div class="line"></div>

      <div class="category">
        <h3>Categories</h3>
        <div class="categories">
          @for (item of categories; track item.id) {
            <div class="tech">
              <input
                type="radio"
                [id]="'cat' + item.id"
                name="category"
                [checked]="filters.categoryId === item.id"
                (change)="filterByCat(item.id)"
              />

              <label [for]="'cat' + item.id">{{ item.name }}</label>
              <p>{{ item.productCount }}</p>
            </div>
          }
        </div>
      </div>

      <div class="minRating">
        <h3><i class="fa-solid fa-star"></i> Min Rating</h3>

        <div class="ratings">
          <button (click)="filterByRating(4)" [class.active]="filters.rating === 4">
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <p>4 & up</p>
          </button>

          <button (click)="filterByRating(3)" [class.active]="filters.rating === 3">
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <p>3 & up</p>
          </button>

          <button (click)="filterByRating(2)" [class.active]="filters.rating === 2">
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <p>2 & up</p>
          </button>

          <button (click)="filterByRating(1)" [class.active]="filters.rating === 1">
            <i class="fa-solid fa-star coloredStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <i class="fa-solid fa-star clearStar"></i>
            <p>1 & up</p>
          </button>
        </div>
      </div>

      <div class="price">
        <h3>Price Range</h3>
        <div class="inputs">
          <div class="min">
            <p>Min</p>
            <input type="number" (input)="setMinPrice($event)" placeholder="$0" />
          </div>
          <p>-</p>
          <div class="max">
            <p>Max</p>
            <input type="number" (input)="setMaxPrice($event)" placeholder="$9999" />
          </div>
        </div>
      </div>

      <div class="brand">
        <h3>Brand</h3>
        <input
          type="text"
          placeholder="Search brands..."
          (input)="onSearch($event)"
          [(ngModel)]="filters.search"
        />
      </div>

      <div class="availability">
        <h3>Availability</h3>
        <div class="stock">
          <input
            type="checkbox"
            id="inStock"
            name="inStock"
            (change)="toggleStock($event)"
            [(ngModel)]="filters.inStock"
          />
          <label for="inStock">In Stock Only</label>
        </div>
      </div>

      <button class="clear" (click)="clearFilters()">
        <i class="fa-solid fa-arrow-rotate-left"></i> Clear All Filters
      </button>
    </div>

    <div class="box">
      <div class="searchBox">
        <div class="input">
          <div class="search"><i class="fa-solid fa-magnifying-glass"></i></div>
          <input type="text" placeholder="Search products..." (input)="onSearch($event)" />
        </div>

        <div class="sort">
          <p>{{ totalCount }} products</p>
          <select name="sort" id="sort" (change)="onSort($event)" [(ngModel)]="filters.sortBy">
            <option value="sortBy">Sort by</option>
            <option value="priceLow">Price: Low to High</option>
            <option value="priceHigh">Price: High to Low</option>
            <option value="name">Name: A-Z</option>
            <option value="rate">Top Rated</option>
            <option value="new">Newest</option>
          </select>
        </div>
      </div>
      <div class="products">
        @for (item of products; track $index) {
          <div class="card" routerLink="/details" [queryParams]="{ id: item.id }">
            <img [src]="item.imageUrl" [alt]="item.name" />
            <div class="description">
              <div class="first">
                <h3>{{ item.category?.name }}</h3>
                <i class="fa-solid fa-circle-dot"></i>
                <p>{{ item.brand }}</p>
              </div>
              <h3>{{ item.name }}</h3>
              <h2 class="price">USD {{ item.price | number }}</h2>
              @if(!cartMap[item.id]) {

  <button class="addBtn"
          (click)="addToCart(item.id); $event.stopPropagation()">

    <i class="fa-solid fa-cart-flatbed"></i>

    Add to Cart

  </button>

} @else {

  <div class="quantityBox"
       (click)="$event.stopPropagation()">

    <button (click)="decrease(item.id)">
      <i class="fa-solid fa-minus"></i>
    </button>

    <span>
      {{ cartMap[item.id].quantity }}
    </span>

    <button (click)="increase(item.id)">
      <i class="fa-solid fa-plus"></i>
    </button>

  </div>

}
            </div>
          </div>
        }
      </div>

      <div class="pagination">
        <button (click)="prevPage()" [disabled]="page == 1">Prev</button>

        @for (p of pages; track p) {
          <button [class.active]="page === p" (click)="goToPage(p)">
            {{ p }}
          </button>
        }

        <button (click)="nextPage()" [disabled]="page == totalPages">Next</button>
      </div>
    </div>
  </div>
</div>
