<div class="product">
  <div class="top">
    @for (item of product; track $index) {
      <p>Shop / {{ item.category.name }} / {{ item.name }}</p>
    }
  </div>

  <div class="box">
    @for (item of product; track $index) {
      <div class="left">
        <img [src]="item.imageUrl" [alt]="item.name" />
        <div class="images">
          <img [src]="item.imageUrl" alt="" />
          @for (imgs of imageUrls; track $index) {
            <img [src]="imgs" alt="" />
          }
        </div>
      </div>

      <div class="right">
        <div class="cat">
          <h3>{{ item.category.name.toUpperCase() }}</h3>
          <p><i class="fa-solid fa-circle-dot"></i></p>
          <p>{{ item.brand }}</p>
        </div>
        <h2 class="name">{{ item.name }}</h2>
        <p>{{ item.rating }}</p>
        <h2 class="price">USD {{ item.price }}</h2>
        <button class="stock">
          <i class="fa-solid fa-check"></i> In Stock ({{ item.stock }} Available)
        </button>
        <p>{{ item.description }}</p>
        <div class="line"></div>
        <div class="quantity">
          <h3>Quantity:</h3>
        </div>
        <div class="addToCartBtn">
          <button><i class="fa-solid fa-cart-flatbed"></i> Add to Cart</button>
          <button><i class="fa-regular fa-heart"></i></button>
        </div>
      </div>
    }
  </div>
</div>
